@font-face {
    font-family: 'PermanentMarker';
    src: url('./assets/PermanentMarker.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: "PermanentMarker", arial;
}

/* .heading {
    display: none;
} */

.hide {
    display: none;
}

.view {
    display: flex;
    flex-direction: column;
}

body {
    background-color: #3a5a40;
    color: #d4a373;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 10px 0;
}

nav {
    display: flex;
    gap: 40px;

}

button {
    font-size: 30px;
    padding: 10px;
    border: 3px solid #d4a373;
    border-radius: 30px;
    background-color: #408c4e;
    cursor: pointer;
}

button:active {
    font-size: 20px;
    background-color: #1e4a26;
    color: #caac59;
}

.clicked {
    background-color: rgb(6, 81, 6);
    color: wheat;
}

.content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.heading span {
    font-size: 200px;
    text-decoration: wavy #caac59;
}

h1 {
    font-size: 50px;
}

.home-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-img img {
    width: 500px;
}

.menu {
    font-size: 50px;
    padding: 40px 0;
}

.menu img {
    height: 320px;
    border-radius: 50px;
}

.layout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.contact {
    font-size: 70px;
    text-align: center;
}

.contact-me {
    font-size: 50px;
}